@import "./general.scss";

main {
    margin: 0 1rem;
    background-color: var(--bg-default);
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo {
    max-width: 100px;
    height: auto;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 0.8rem 1.5rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    background-color: var(--first-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: #caa02a;
        transform: scale(1.05);
    }
}

.themeBtn {
    background-color: var(--bg-default);
    color: var(--body-text);
    border: 1px solid var(--lines-color);
    padding: 0.4rem;
    font-size: 1.3rem;
    border-radius: 4px;
    &:hover {
        background-color: #e9e4e480;
      }
}

.gameContainer {
    display: flex;
    justify-content: space-around;
}

.container {
    border: 1px solid black;
    background-color: var(--bg-default);
    padding: 0.5rem;
    width: 55%;
}

.grid {
    display: grid;
    gap: 10px;
    perspective: 1000px;
}

.cardFace {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background-color: black;
    color: #f46255;
    font-size: 2rem;
    font-weight: bold;
    transition: transform 0.2s ease-in-out, background-color 0.3s, opacity 0.5s ease;
    opacity: 0;
    animation: cardEntry 0.5s ease-in-out forwards;
    will-change: transform, opacity;

    &:hover {
        transform: scale(1.05);
    }
}

@keyframes cardEntry {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.flipped {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    opacity: 1;
    transform: rotateY(180deg);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease;
}


.gameTitle {
    margin: 0 0 1rem 0;
    text-align: center;
    letter-spacing: 5px;
    font-size: clamp(3.5rem, 4vw, 4rem);
    color: var(--body-text)
}

.footer {
    display: flex;
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    color: var(--body-text);
    justify-content: center;
    position: relative;
}

.footer p {
    margin-bottom: 1rem;
}

.gameInfo {
    background-color: var(--bg-secondary);
    box-sizing: border-box;
    color: black;
    padding: 1rem;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.infoItem {
    display: flex;
    margin: 10px 0;
    font-size: 1.7rem;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.infoItem span {
    font-weight: bold;
    letter-spacing: 1.5px;
}

.infoItem strong {
    color: #f46255;
    font-family: 'Poppins', Courier, monospace;
    font-size: 1.5rem;
}

.highScore {
    width: 50px
}

.timeEffect {
    position: absolute;
    background-color: var(--bg-default);
    border: 1px solid;
    color: #3f3e8a;
    font-size: 2rem;
    padding: 0.8rem;
    font-weight: bold;
    animation: fadeUp 2s ease-out;
}

@keyframes fadeUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.secondaryPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--bg-default);
    color: var(--body-text);
}

.secondaryPage h2 {
    font-size: 2rem;
    margin-bottom: 2rem;

}

.secondaryPage img {
    width: 20%
}

.secondaryPage p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-family: 'Poppins', Times, serif;
    font-weight: bold;
}

#tryAgainButton {
    background: #052a75;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 0.8rem 1.5rem;
    font-size: 2rem;

    &:hover {
        background: #e84118;
    }
}

.secondaryPage button {
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 0.8rem 1.5rem;
    font-size: 2rem;
}

.secondaryPage button:hover {
    background: #e84118;
}

@media (max-width: 768px) {

    .container {
        width: 70%;
    }

    .gameInfo {
        padding: 0.3rem;
    }

    .grid {
        gap: 5px;
    }

    .cardFace {
        font-size: 1rem;
    }

    .gameInfo .title {
        font-size: 1rem;
    }

    .secondaryPage h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .secondaryPage p {
        font-size: 2.2rem;
        margin-bottom: 2.5rem;
    }

    .secondaryPage button {
        padding: 1rem 2rem;
        font-size: 2.2rem;
    }

    .secondaryPage img {
        width: 30%
    }
}

@media (max-width: 480px) {
    .gameContainer {
        flex-direction: column;
        gap: 20px;
    }

    .container {
        width: 100%;
    }

    .gameInfo {
        padding: 0.6rem;
        flex-direction: row;
        align-items: flex-end;
    }

    .gameInfo img:first-child {
        width: 50px;
    }

    .grid {
        gap: 3px;
    }

    .cardFace {
        font-size: 0.9rem;
    }

    .gameTitle {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .secondaryPage h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .secondaryPage p {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .secondaryPage button {
        padding: 0.8rem 1.5rem;
        font-size: 1.2rem;
    }

    .secondaryPage img {
        width: 40%
    }
}